.container{
    width:100%;
    min-height:100vh;
    color: white;
    background-color: #191919;
    padding-bottom: 1.5rem;
    text-align: center;
    overflow: hidden;
    padding-inline: 1.5rem;
   
    
}